img{
margin-top: 10px;
}
.btn{
    display: block;
    margin-top: 10px;
}
table,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    color: hwb(0 0% 100% / 0.915);
}